apiVersion: apps/v1
kind: Deployment
metadata:
  name: sms-frontend
  namespace: sms
  labels:
    app: sms-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: sms-frontend
  template:
    metadata:
      labels:
        app: sms-frontend
    spec:
      containers:
        - name: sms-frontend
          image: sohail28/sms-frontend:v1
          ports:
            - containerPort: 80
              name: http
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 20
